.red{
	background-color:red;
	padding:15px;
	color:white;
	font-size:30px;
	font-weight:bold;
}
.orange{
	background-color:orange;
	padding:15px;
	color:white;
	font-size:30px;
	font-weight:bold;
}
.yellow{
	background-color:yellow;
	padding:15px;
	font-size:30px;
	font-weight:bold;
}
.green{
	background-color:green;
	padding:15px;
	color:white;
	font-size:30px;
	font-weight:bold;
}
.blue{
	background-color:blue;
	padding:15px;
	color:white;
	font-size:30px;
	font-weight:bold;
	
}
.indigo{
	background-color:indigo;
	padding:15px;
	color:white;
	font-size:30px;
	font-weight:bold;
}
.violet{
	background-color:violet;
	padding:15px;
	font-size:30px;
	font-weight:bold;
}
form{
	margin:10px;
	align-content:right;
	font-size:30px;
	font-weight:bold;
}
fieldset{
	margin:20px;
	
}
button:hover{
	background-color:green;
	cursor:pointer;

}
input:focus{
	outline:5px solid red;
	background-color:blue;
}
.s4:hover{
	background-color:red;
	cursor:pointer;
}
fieldset{
	background-color:;
	border:;
}